*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
	background: url(../index.jpg);
	background-position: top center;
	margin: auto;	 
}

/*---------------------------------------------------------------------------*/
/*-----------------------------Main container--------------------------------*/
#main-container{
    margin: auto;
    width: 940px;    
}
/*----------------------------Main container fin-----------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*-----------------------------------Cabecera--------------------------------*/
#cabecera{
    
}

#cabecera header{
    background: rgba(0, 255, 0, .5);
    height: 60px;
    position: fixed;
    width: 940px;
    z-index: 100;
}

#welcome{
    background: rgba(0, 255, 255, .5);
    height: 560px;
}
/*---------------------------------Cabecera fin------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*----------------------------------Portfolio--------------------------------*/
#porfolio{
    background: rgba(0, 255, 0, .5);
    height: 660px;
}
/*-porfolio fin-*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*-------------------------------About Me------------------------------------*/
#aboutme{
    background: rgba(0, 255, 255, .5);
    height: 500px;
}
/*-About Me fin-*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*----------------------------------Skills-----------------------------------*/
#skills{
    background: rgba(0, 255, 0, .5);
    height: 320px;
}
/*--------------------------------Skills fin---------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------Services----------------------------------*/
#services{
    background: rgba(0, 255, 255, .5);
    height: 320px;
}
/*------------------------------Services fin---------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*-------------------------------Testimonials--------------------------------*/
#testimonials{
    background: rgba(0, 255, 0, .5);
    height: 340px;
}
/*-----------------------------Testimonials fin------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*----------------------------------Read Me----------------------------------*/
#readme{
    background: rgba(0, 255, 255, .5);
    height: 380px;
}
/*--------------------------------Read Me fin--------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*----------------------------------Say Hello--------------------------------*/
#sayhello{
    background: rgba(0, 255, 0, .5);
    height: 290px;
}
/*--------------------------------Say Hello fin------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*----------------------------------Footer-----------------------------------*/
footer{
    background: rgba(0, 255, 255, .5);
    height: 60px;
}
/*--------------------------------Footer fin---------------------------------*/
/*---------------------------------------------------------------------------*/